.header {
  text-align: center;
  text-decoration: underline;
}

#para {
  text-align: center;
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(231, 238, 238);
  padding: 5rem;
  border: 1px solid navy;
  text-decoration: none;
}

.link:hover {
  background-color: navy;
  color: #fff;
}
