body {
  background-color: rgb(2, 48, 33);
}

.header,
.header2,
#para {
  text-align: center;
  color: #fff;
}

.header {
  text-decoration: underline;
}

#para {
  font-size: 1.65rem;
  margin: 5.5rem 0;
}

.link {
  background-color: rgb(231, 238, 238);
  color: red;
  font-size: 15px;
  font-weight: bold;
  padding: 1rem;
  border: 1px solid navy;
  text-decoration: none;
  margin-right: 7.75rem;
}

.link:hover {
  background-color: crimson;
  color: #fff;
}
