body {
  background-color: rgb(2, 48, 33);
}

.header,
.header2,
#para {
  text-align: center;
  color: #fff;
}

.header {
  text-decoration: underline;
}

#para {
  font-size: 1.65rem;
  margin: 3.5rem 0;
}

.links {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 80vw;
  margin: auto;
  grid-gap: 2rem;
  margin-top: 10rem;
}

.link {
  background-color: rgb(231, 238, 238);
  color: red;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 1rem;
  border: 1px solid navy;
  text-decoration: none;
}

.link:hover {
  background-color: crimson;
  color: #fff;
}
